@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>
<h4>Seller</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="mb-3">
                <label class="form-label" asp-for="Seller.Name"></label>
                <input class="form-control" asp-for="Seller.Name" />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Seller.Email"></label>
                <input class="form-control" asp-for="Seller.Email" />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Seller.BirthDate"></label>
                <input class="form-control" asp-for="Seller.BirthDate" />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Seller.BaseSalary"></label>
                <input class="form-control" asp-for="Seller.BaseSalary" />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Seller.DepartmentId"></label>
                <select class="form-select" aria-label="Default select example" asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name"))"></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>